form(method="post" action="/register")
    table 
        tr
            label Username 
                input(type="text" name="username")
            label Fullname 
                input(type="text" name="fullname")
            label Password 
                input(type="password" name="password")
            label Confirm password 
                input(type="password" name="confirm-password")

                input(type="submit" value="Register")



